<!DOCTYPE html>
<html lang="en">
<head>
  <title>Django Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;}
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Menu</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>Menu</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Dashboard</a></li>
        <li><a href="logout">Logout</a></li>
      </ul><br>
    </div>
    <br>
    {% for message in messages %}
     <li{% if message.tags %} class="{{message.tags}}"{% endif %} style="color:red;">{{message}}</li>
    {% endfor %}
    <div class="col-sm-9">
      <div class="well">
        <h4>Account</h4>
        <p>All Information</p>
      </div>
      <div class="well">
        <form method="POST" >
          {% csrf_token %}
          <h4>Profile</h4>
          <br>
          <label>Email</label>
          <br>
          <input type="text" name="username" value="{{profile.username}}" />
          <br>
          <br>
          <label>Username</label>
          <br>
          <input type="text" name="email" value="{{profile.email}}" />
          <br>
          <br>
          <label>First Name</label>
          <br>
          <input type="text" name="first_name" value="{{profile.first_name}}" />
          <br>
          <br>
          <label>Last Name</label>
          <br>
          <input type="text" name="last_name" value="{{profile.last_name}}" />
          <br>
          <br>
          <button type="submit" >Submit</button>
        </form>
      </div>
  </div>
</div>

</body>
</html>
